<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:label="Kerberos"
        android:theme="@style/Theme.Kerberos"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kerberos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--autofill service-->
        <service
            android:name=".service.KerberosAutofillService"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill_service_config" />
        </service>

        <!--auto fill activity -->
        <activity
            android:name=".service.AutofillAuthActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>


<!-- Android Developers. (2026). Build autofill services. [online]
Available at: https://developer.android.com/identity/autofill/autofill-services [Accessed 20 Sept. 2026]. -->